<style>
    body {
        display: block;
        font-size: 18px;
        text-align: center;
        max-width: 90%;
        margin: 10px auto;
    }
</style>

<body>
<p>Olá, {{ name }}. você pediu para trocar sua senha?</p>
<p>Para alterar sua senha, basta acessar esse link: 
    <a href="{{ url }}">{{ url }}</a> e seguir as instruções.
</p>
<br>
    <p>Se você não solicitou sua senha, apenas ignore esse email e nada acontecerá.</p>
<br>
<p>Obrigado!</p>
<strong>Equipe engenharia</strong>
</body>